@import "index";
@import "galeria";
@import "contacto";

/*VARIABLES*/
$azulfondos: #b7d0e1;

/*ESTILOS GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    padding: o;
    margin: 0;
}

h1{
    text-align: center;
    padding: 10px;
}

.titulos-principales{
    color: rgb(255, 255, 255);
    background-color: #e3e6db;
}

ul li {
    list-style: none;
    display:inline-block;
    margin: 0px 10px;
}

ul li a{
    color: #343434;
    font-size: 1.2rem;
    text-decoration: none;
}

.titulo-clase{
    text-align: center;
}

body{
    background-color: $azulfondos;
    font-family: 'Quicksand', sans-serif;
}

header{
    position: sticky;
    top: 0;
    background-color: $azulfondos;
    .logo{
        display: flex;
        justify-content: center;
    }
    .menu-nav{
            padding: 20px;
            background-color: white;
            display: flex;
            justify-content: center;
    }
    .menu-nav :hover{
        color:$azulfondos
    }
         ul{
            text-align: center;
    }
         
}

.footer-redes{
    padding: 20px;
    background-color: #343434;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rr-sswa{
    padding: 30px;
    background-color: #343434;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration:none;
}

.rr-ssig{
    padding: 30px;
    background-color:#343434;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration:none;
}

/*MEDIA QUERIES*/
/*tablet*/
@media only screen and (max-width:768px){
    .lista-comercial{
        padding: 20px;
        font-size: 15px;
    }
    #parrafo-historia{
        text-align: center;
        font-size: 15px;

    }
    .galeria-trabajos{
        padding: 30px;
    }

    .lista-contacto{
        flex-direction: column;
        font-size: 20px;
    }
    .carousel-item img{
        width: 768px;
        height: 350px;
    }
}

/*mobile*/
@media only screen and (max-width:576px){
.lista-comercial{
    flex-direction: column;
    font-size: 15px;
}
.articulos-historia{
   flex-direction: column;
}
.carousel-item{
    width: 100%;
    height: 400px
}
.galeria-trabajos{
    padding: 30px;
    grid-template-columns: repeat(2,1fr)
}
.lista-contacto{
    flex-direction: column;
    font-size: 20px;
}
.menu-categorias nav{
    display: flex;
}
.carousel-item img{
    width: 576px;
    height: 350px;
}
}