@import "index";
@import "galeria";
@import "contacto";

/*VARIABLES*/
$azulfondos: #b7d0e1;
$grisplomo:#343434;

/*ESTILOS GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: o;
    margin: 0;
}

h1{
    text-align: center;
    padding: 10px;
}

.titulos-principales{
    color: white;
    background-color: #e3e6db;
}


ul li {
    list-style: none;
    display:inline-block;
    margin: 0px 10px;
}

ul li a{
    color: $grisplomo;
    font-size: 1.2rem;
    text-decoration: none;
}

.titulo-clase{
    text-align: center;
}

body{
    background-color: $azulfondo;
    font-family: 'Quicksand', sans-serif;
}

header{
    position: sticky;
    top: 0;
    background-color: $azulfondo;
    .logo{
        display: flex;
        justify-content: center;
    }
    .menu-nav{
            padding: 20px;
            background-color: white;
            display: flex;
            justify-content: center;
    }
    .menu-nav :hover{
        color:$azulfondo
    }
         ul{
            text-align: center;
    }
         
}
.footer-redes{
    padding: 20px;
    background-color: $grisplomo;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rr-sswa{
    padding: 30px;
    background-color: $grisplomo;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration:none;
}

.rr-ssig{
    padding: 30px;
    background-color:$grisplomo;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration:none;
}

/*MEDIA QUERIES*/
/*tablet*/
@media only screen and (max-width:768px){
    .lista-comercial{
        padding: 20px;
        font-size: 15px;
    }
    .articulos-historia img{
        display: flex;
        padding: 30px;
        width: 350px;
        height: 200px;
        
    }
    #parrafo-historia{
        text-align: center;
        font-size: 15px;

    }
    .galeria-trabajos{
        padding: 30px;
    }
}

/*mobile*/
@media only screen and (max-width:576px){
.lista-comercial{
    flex-direction: column;
    font-size: 15px;
}

.articulos-historia{
   flex-direction: column;

}
.articulos-historia img{
    display: flex;
    padding: 30px;
    width: 500px;
    height: 400px;
    
}
.carousel-item{
    width: 100%;
    height: 400px
}
.galeria-trabajos{
    padding: 30px;
    grid-template-columns: repeat(2,1fr)
}

}
